{% load static humanize %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Academy ERP{% endblock %} · {{ school.name|default:"Academy ERP" }}</title>
  <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css" />
  <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
</head>
<body class="bg-zinc-50 text-zinc-800 antialiased">
  {% block body %}{% endblock %}
</body>
</html>
